<div id="sidenav">
    <a href="/mytube">
        <i class="ri-home-3-line"></i> Home
    </a>
    <a href="/watchlater">
        <i class="ri-timer-2-line"></i>Watch later
    </a>
    <a href="/subscriber">
        <i class="ri-user-add-line"></i> subscriber
    </a>
    <a href="/profile">
        <i class="ri-user-line"></i> profile
    </a>
</div>