<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget password</title>
    <link rel="stylesheet" href="../stylesheets/forget.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <div id="main">
        <div id="login">
            <div class="login">
               <div class="close"><a href="/"><i class="ri-close-line"></i></a></i></div>
               <div id="logo">
               </div>
                <h1>Let's find your account</h1>
                <p>What's your email ?</p>
                <form action="/forgot" method="post">
                    <input class=" username" type="email" placeholder="Email" name="email">
                     <button type="submit">Reset password</button>
                 </form>
             </div>
         </div>
     </div>
</body>
</html>